<html>
<head>
  <title>Rock Paper Scissors</title>
</head>
<body>
  <h1>Welcome to Rock Paper Scissors!</h1>
  <p>Choose your move:</p>
  <ul>
    <li><a href="/rock">Rock</a></li>
    <li><a href="/paper">Paper</a></li>
    <li><a href="/scissors">Scissors</a></li>
  </ul>
</body>
</html>
