<html>
<head>
  <title>Rock Paper Scissors - Result</title>
</head>
<body>
  <h1>You chose <%= @player_move.capitalize %>!</h1>
  <h1>The computer chose <%= @comp_move.capitalize %>!</h1>
  <h2>You <%= @outcome %>!</h2>
  <a href="/">Play Again</a>
</body>
</html>
